body{

    background-image: url(cal_back.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
}
#form{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#back{
    font-size: 28px;
    margin-top: 50px;
    margin-left: 400px;
    color: white;
    position: fixed;
    border-radius: 6px;
    border-style: solid;
    border-width: 3px;
    box-shadow: 1px 1px 10px blueviolet;
    border-color: rgb(115, 58, 206);
    background-image: radial-gradient(circle, rgb(59, 43, 129), rgb(60, 210, 230));
}
#back:hover{
    background-image: linear-gradient(to left, rgb(59, 43, 129), rgb(60, 210, 230));
}
#back:active{
    color: hsl(0, 9%, 37%);
    background-image: linear-gradient(to right, rgb(59, 43, 129), rgb(60, 210, 230));
}
a{
    text-decoration: none;
    color: white;
}

#cals{
    margin-top: 100px;
    font-family: Arial, sans-serif;
    background-color: hsl(246, 76%, 59%);
    border-radius: 20px;
    max-width: 500px;
    box-shadow: 5px 5px 25px;
    overflow: hidden;
}
#disp{
    width: 100%;
    padding: 20px;
    font-size: 4rem;
    background-color: hsl(240, 2%, 19%);
    color: rgb(255, 255, 255);
}
#key{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 20px;
}
.button{
    width: 90px;
    height: 90px;
    border-radius: 25px;
    border: none;
    background-color: hsl(0, 0%, 20%);
    color: white;
    font-size: 2rem;
    font-weight: bolder;
    cursor: pointer;
}
.button:hover{
    background-color: hsl(22, 90%, 49%);
}
.button:active{
    background-color: hsl(193, 7%, 24%); 
}
#opBut{
    background-color: hsl(22, 90%, 49%);
}
#opBut:hover{
    background-color: hsl(0, 0%, 20%);
}
#opBut:active{
    background-color: hsl(27, 100%, 50%);
}


