body{
    background-image: url(dc_back.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
}
a{
    text-decoration:none;
    color: rgb(228, 218, 218);
}
#back{
    font-size: 28px;
    margin-bottom: 550px;
    color: rgb(228, 218, 218);
    position: fixed;
    border-radius: 6px;
    border-style: solid;
    border-width: 3px;
    box-shadow: 1px 1px 20px rgb(4, 0, 250);
    border-color: rgba(0, 0, 0, 0.993);
    background-image: linear-gradient(to bottom, rgb(5, 5, 5), rgb(207, 166, 52));
}
#back:hover{
    background-image: linear-gradient(to top, rgb(16, 188, 211), rgb(207, 158, 52));
}
#back:active{
    border-radius: 10px;
    color: rgb(0, 0, 0);
    box-shadow: 1px 1px 10px rgb(4, 0, 250);
    border-color: hsla(240, 37%, 66%, 0.719);
}
#clock{
    font-family: monospace;
    font-size: 6rem;
    font-weight: bolder;
    text-align: center;
    position: fixed;
}
#container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    backdrop-filter: blur(2px);
}
#time{
    font-size: 3rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    margin-bottom: 190px;
    border-style: solid;
}