body{
    margin: 0;
    height: 100vh;
    background-image: url(bacground3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
h1{
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    
}
#imgc{
    display: flex;
    justify-content: center;   /* Centers horizontally */
    align-items: center;       /* Centers vertically if height set */
    gap: 20px;                 /* Space between images */
    margin-top: 140px;
    
}
button{
    width: 160px;
    height: 40px;
    border-radius: 15px;
    border-style: solid;
    border-width: 3px;
    border-color: rgb(38, 0, 255);
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 20px;
    color: white;
    background-image: linear-gradient(to left, rgb(214, 36, 36), rgb(49, 49, 202));
    cursor: pointer;
}
button:hover{
    background-image: linear-gradient(to right, rgb(214, 36, 36), rgb(49, 49, 202));
}
button:active{
    color: black;
    box-shadow: 1px 2px 20px hsl(175, 100%, 50%);
}
a{
    color: white;
    text-decoration: none;
}

/*digitalclock css*/
#dcimg{
    box-shadow: 1px 4px 20px rgb(255, 255, 255);
    border-radius: 20px;
}
#dcimg:hover{
    box-shadow: 1px 4px 20px hsl(305, 69%, 65%);
    border-radius: 40px;
}
#dcbt{

    margin-top: 40px;
    margin-left: 20px;
}

/*calculator css*/
#cal{
    margin-left: 100px;
}
#calimg{
    box-shadow: 1px 4px 20px rgb(255, 255, 255);
    border-radius: 20px;
}
#calimg:hover{
    box-shadow: 1px 4px 20px hsl(0, 75%, 69%);
    border-radius: 40px;
}
#calbt{
    margin-top: 50px;
    margin-left: 30px;
}

/*temperature css*/
#tempimg{
    box-shadow: 1px 4px 20px rgb(255, 255, 255);
    border-radius: 20px;
}
#temp{
    margin-left: 100px;
}
#tempimg:hover{
    box-shadow: 1px 4px 20px hsl(236, 74%, 63%);
    border-radius: 40px;
}
#tempbt{

    margin-top: 50px;
    margin-left: 20px;
}



